.artifacts/**
.tmp/**

docbox/**
dist/**

modules/**

.engine/**
test-harness/.engine/**
test-harness/coldbox/**
test-harness/docbox/**
test-harness/testbox/**
test-harness/tests/results/**
test-harness/logs/**
test-harness/modules/**

# log files
logs/**

# node modules
node_modules/**

livewire/**

models/tmp/*.cfc
models/tmp/*.cfm